services:

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_storage:/root/.ollama
    restart: always

  frontend:
    image: demo-frontend
    container_name: demo-frontend-dev
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

  backend:
    image: demo-backend
    container_name: demo-backend-dev
    build: ./backend
    environment:
      - QDRANT_PORT=6333
      - OLLAMA_HOST=http://192.168.123.43:11434
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - hf_cache:/root/.cache/huggingface
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - ./backend/.env

volumes:
  hf_cache:
  ollama_storage: